body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;

  .about {
    height: 100vh;
    background: #d7d7d7;
  }
}

.Navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background: black;

  h1 {
    color: white;
    padding-top: 5px;
    margin-left: 50px;
    margin-top: 25px;
  }

  .Menu {
    margin-right: 50px;
  }

  @media (max-width: 450px) {
    height: 70px;
    h1 {
      padding-top: 0;
      margin-left: 50px;
      margin-top: 25px;
    }
  }


}

.Welcome { //Pour etre en dessous de la navbar
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;

  p {
    font-style: italic;
    color: #d7d7d7;
    margin-top: 40px;
    font-size: large;
  }

  .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
      margin-top: 40px;
      width: 150px;
      border: 1px solid #2c2c2c;
    }

    .welcome-upper {
      display: flex;
      align-items: center;

      .personal-pic {
        width: 200px;
        height: 200px;
        margin-right: 30px;
      }
    }

  }

  .texte-welcome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .sous-titre {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        width: 30px;
        height: 30px;
        margin-top: -20px;
        @media (max-width: 450px){
          width: 20px;
          height: 20px;
        }
      }
    }

    h1 {
      color: white;
      font-size: 3.2em;
      margin: 0;
    }

    p {
      color: white;
      font-size: x-large;
      margin-top: -3px;
    }

    span {
      color: #606060;
    }
  }

  @media (max-width: 450px) {
    justify-content: flex-start;
    height: calc(100vh - 90px);
    padding-top: 90px;
    .welcome-content {
      margin: 20px 20px 0 20px;

      h1 {
        font-size: 1.7em;
      }

      p {
        font-size: 1.1em;
        margin-top: 20px;
      }

      hr {
        margin-top: 20px;
        margin-bottom: 0;
      }
    }

    .welcome-upper {
      flex-direction: column;

      .personal-pic {
        display: none;
      }

      p {
        margin-top: 0;
        font-size: 1.3em;
      }
    }

  }

}